doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style="width:650px")
    div(style="width: 400px; margin:0px auto;")
      h1(style="font-size:30px; background-color:#CCCCCC; text-align:center;")= top_line

    table(style="width: 650px" cellpadding="3" cellspacing="0")
      tr
        td(bgcolor="beige") ID:
        td= pt_id
        td(bgcolor="beige") 氏名:
        td= pt_name
        td(bgcolor="beige") 検査日:
        td= exam_day
      tr
        td(bgcolor="beige") 目的:
        td(colspan="6")= purpose
      tr
        td(bgcolor="beige") 依頼科:
        td= department
        td(bgcolor="beige") 依頼医:
        td= order_dr
        td(bgcolor="beige") 病棟/外来:
        td= ward

    table(style="width: 650px" cellpadding="3" cellspacing="0")
      tr
        td(bgcolor="beige" style="height: 21px") 施行者:
        td(style="height: 21px" colspan="3")= operators
      tr
        td(bgcolor="beige" style="height: 21px") 検査機器:
        td= equipment
        td(bgcolor="beige" style="height: 21px") 検査場所:
        td= place
      tr
        td(bgcolor="beige" style="width: 100px") 診断医:
        td(style="width: 100px")= diag_dr
        td(bgcolor="beige" style="width: 100px") ２次診断医:
        td(style="width: 100px")= final_diag_dr
      tr
        td(bgcolor="beige" colspan="4") 診断名:
      tr
        td(colspan="4" style="padding-left:80px")!= diagnoses
      tr
        td(colspan="4")
          img(src= img1 height="237" Width="316")
          img(src= img2 height="237" Width="316")
      tr
        td(bgcolor="beige" colspan="4") 所見:
      tr
        td(colspan="4" style="height: 27px")!= findings
      tr
        td(bgcolor="beige" colspan="4") コメント:
      tr
        td(colspan="4")!= comment

    div(style="text-align:center; font-size:20px;")= hp